{{#each posts as |post|}}
  <div class="text-center justify-content-center mb-5 column">
    <div>
      <h2 class="titleBar column">
        <p class="col-12">
          <a href="/post/{{post.id}}">
            {{post.title}}
          </a>
          Created by
          {{post.user.name}}
          on
          {{formatDate post.dateCreated}}
        </p>
      </h2>
    </div>
    <div class="col-md-7">
      <p>
        {{post.description}}
      </p>
    </div>
  </div>
{{/each}}